<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=#{API_KEY}">
</script>
<script type="text/javascript">
(function() {
  var lots = [];

  <% @lots.each do |lot| %>
    lots.push({ latitude: <%= lot.latitude %>, longitude: <%= lot.longitude %>, address: "<%= lot.address.to_s %>", id: <%= lot.id %> });
  <% end %>
})(); //end wrapper

</script>
</head>

<body>

  <section class="map">
    <div id="map-canvas"></div>
  </section>

  <section class="content">
    <div class="row">
      <div class="grid-full">

        <%= link_to "Report dereliction", new_lot_path, class: "btn btn-primary" %>

        <div class="derelict-housing">
          <% @lots.each do |lot| %>
            <ul id="derelict-housing-list" class="derelict-housing-list">
              <li class="hideme"><%= link_to lot.address, lot %></li>
              <% if lot.borough != nil %>
              <li class="hideme"><%= lot.borough %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

      </div>
      <!-- /.grid-full -->
    </div>
    <!-- /.row -->
  </section>

</body>
